{% extends "base.html" %}
{% block css %}
 
<style>
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        
        margin: 10px;
    }
    img {
        width: 300px;
        height: 250px;
        border-radius: 7%;
        
    }

    .flex_{
        display: flex;
        flex-wrap: wrap;
    }
</style>
{% endblock%}
{% block main %}
    
    <ul class = 'flex_'>
        {% for image in images %}
            <li><img src="wp1 - Copy (2).jpg" alt="{{ image }}"></li>
        {% endfor %}
    </ul>
    
{% endblock %}
